@model RoomManagement.Models.Payment

@{
    ViewData["Title"] = "Thêm phiếu thanh toán";
    Layout = "_Layout";
}

<a asp-action="Index" class="returnPage"><i class="fa-solid fa-arrow-left"></i> Quay lại</a>

<div class="nhapPhong">
    <form asp-action="Create" method="post">
        <h2 style="margin-left: 20%;">Thêm phiếu thanh toán mới</h2>

        <div>
            <lable>Mã hóa đơn:</lable>
            <select asp-for="BillId" id="billIdSelect" class="nguoiThue" required>
                <option value="" data-amount="0">-- Chọn mã hóa đơn --</option>
                @if(ViewBag.Bills != null)
                {
                    foreach(var bill in (IEnumerable<RoomManagement.Models.Bill>)ViewBag.Bills)
                    {
                        <option value="@bill.Id" data-amount="@bill.Total">@bill.Id</option>
                    }
                }
            </select>
        </div>
        <div>
            <lable>Tổng tiền:</lable>
            <input type="text" asp-for="Amount" id="amount" placeholder="Tổng tiền..." required>
        </div>
        <div>
            <lable>PT thanh toán:</lable>
            <select asp-for="PaymentMethod" id="" class="nguoiThue" required>
                <option value="">-- Chọn phương thức --</option>
                <option value="Chuyển khoản">Chuyển khoản</option>
                <option value="Tiền mặt">Tiền mặt</option>
            </select>
        </div>
        <div>
            <lable>Ngày thanh toán:</lable>
            <input type="date" asp-for="PaymentDate" required>
        </div>
        <div class="moTa">
            <lable>Ghi chú:</lable>
            <textarea asp-for="Note" cols="30" rows="3" placeholder="Ghi chú..."></textarea>
        </div>
        <div class="btn-addRoom">
            <button type="submit">Thêm</button>
        </div>
    </form>
</div>