USE [master]
GO
/****** Object:  Database [room_management]    Script Date: 4/6/2026 2:59:52 PM ******/
CREATE DATABASE [room_management]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'room_management', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\room_management.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'room_management_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\room_management_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [room_management].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [room_management]
GO
/****** Object:  Table [dbo].[bill_details]    Script Date: 4/6/2026 2:59:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill_details](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[bill_id] [bigint] NULL,
	[service_id] [bigint] NULL,
	[old_index] [int] NULL,
	[new_index] [int] NULL,
	[quantity] [int] NULL,
	[price] [decimal](10, 2) NULL,
	[total] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bills]    Script Date: 4/6/2026 2:59:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bills](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[room_id] [bigint] NULL,
	[month] [int] NULL,
	[year] [int] NULL,
	[room_price] [decimal](10, 2) NULL,
	[service_total] [decimal](10, 2) NULL,
	[total] [decimal](10, 2) NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contracts]    Script Date: 4/6/2026 2:59:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contracts](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[tenant_id] [bigint] NULL,
	[room_id] [bigint] NULL,
	[start_day] [date] NULL,
	[end_day] [date] NULL,
	[deposit] [decimal](10, 2) NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 4/6/2026 2:59:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[bill_id] [bigint] NULL,
	[amount] [decimal](10, 2) NULL,
	[payment_method] [nvarchar](50) NULL,
	[payment_date] [date] NULL,
	[note] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rooms]    Script Date: 4/6/2026 2:59:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rooms](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[room_code] [nvarchar](20) NULL,
	[room_name] [nvarchar](100) NULL,
	[price] [decimal](10, 2) NULL,
	[area] [int] NULL,
	[max_people] [int] NULL,
	[status] [nvarchar](50) NULL,
	[description] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[services]    Script Date: 4/6/2026 2:59:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[services](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[service_name] [nvarchar](100) NULL,
	[price] [decimal](10, 2) NULL,
	[unit] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tenants]    Script Date: 4/6/2026 2:59:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tenants](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[cccd] [nvarchar](20) NULL,
	[birthday] [date] NULL,
	[gender] [nvarchar](10) NULL,
	[address] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 4/6/2026 2:59:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[image] [nvarchar](255) NULL,
	[email] [nvarchar](100) NULL,
	[password] [nvarchar](255) NULL,
	[phone] [nvarchar](20) NULL,
	[role] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
 CONSTRAINT [PK__users__3213E83F1C887057] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[bill_details] ON 

INSERT [dbo].[bill_details] ([id], [bill_id], [service_id], [old_index], [new_index], [quantity], [price], [total]) VALUES (0, 1, 1, 1050, 1120, 70, CAST(3500.00 AS Decimal(10, 2)), CAST(245000.00 AS Decimal(10, 2)))
INSERT [dbo].[bill_details] ([id], [bill_id], [service_id], [old_index], [new_index], [quantity], [price], [total]) VALUES (1, 1, 2, 85, 88, 3, CAST(15000.00 AS Decimal(10, 2)), CAST(45000.00 AS Decimal(10, 2)))
INSERT [dbo].[bill_details] ([id], [bill_id], [service_id], [old_index], [new_index], [quantity], [price], [total]) VALUES (2, 1, 3, 0, 0, 1, CAST(30000.00 AS Decimal(10, 2)), CAST(30000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[bill_details] OFF
GO
SET IDENTITY_INSERT [dbo].[bills] ON 

INSERT [dbo].[bills] ([id], [room_id], [month], [year], [room_price], [service_total], [total], [status], [created_at], [updated_at], [deleted_at]) VALUES (1, 1, 4, 2026, CAST(3000000.00 AS Decimal(10, 2)), CAST(320000.00 AS Decimal(10, 2)), CAST(3320000.00 AS Decimal(10, 2)), N'Đã thanh toán', CAST(N'2026-04-06T14:38:51.483' AS DateTime), CAST(N'2026-04-06T14:55:56.603' AS DateTime), NULL)
INSERT [dbo].[bills] ([id], [room_id], [month], [year], [room_price], [service_total], [total], [status], [created_at], [updated_at], [deleted_at]) VALUES (2, 3, 4, 2026, CAST(3500000.00 AS Decimal(10, 2)), CAST(205000.00 AS Decimal(10, 2)), CAST(3705000.00 AS Decimal(10, 2)), N'Chưa thanh toán', CAST(N'2026-04-06T14:41:00.793' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[bills] OFF
GO
SET IDENTITY_INSERT [dbo].[contracts] ON 

INSERT [dbo].[contracts] ([id], [tenant_id], [room_id], [start_day], [end_day], [deposit], [status], [created_at], [updated_at], [deleted_at]) VALUES (1, 1, 1, CAST(N'2026-01-01' AS Date), CAST(N'2026-12-31' AS Date), CAST(3000000.00 AS Decimal(10, 2)), N'Còn hạn', CAST(N'2026-04-06T14:38:15.247' AS DateTime), NULL, NULL)
INSERT [dbo].[contracts] ([id], [tenant_id], [room_id], [start_day], [end_day], [deposit], [status], [created_at], [updated_at], [deleted_at]) VALUES (2, 2, 3, CAST(N'2026-03-01' AS Date), CAST(N'2027-03-01' AS Date), CAST(3500000.00 AS Decimal(10, 2)), N'Còn hạn', CAST(N'2026-04-06T14:38:15.247' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[contracts] OFF
GO
SET IDENTITY_INSERT [dbo].[payments] ON 

INSERT [dbo].[payments] ([id], [bill_id], [amount], [payment_method], [payment_date], [note], [created_at], [deleted_at]) VALUES (1, 1, CAST(3311000.00 AS Decimal(10, 2)), N'Chuyển khoản', CAST(N'2026-04-06' AS Date), N'Khách P101 thanh toán tiền tháng 4', NULL, NULL)
SET IDENTITY_INSERT [dbo].[payments] OFF
GO
SET IDENTITY_INSERT [dbo].[rooms] ON 

INSERT [dbo].[rooms] ([id], [room_code], [room_name], [price], [area], [max_people], [status], [description], [created_at], [updated_at], [deleted_at]) VALUES (1, N'P101', N'Phòng 101 (Tầng 1)', CAST(3000000.00 AS Decimal(10, 2)), 20, 2, N'Đã thuê', N'Phòng có gác lửng, cửa sổ thoáng', NULL, NULL, NULL)
INSERT [dbo].[rooms] ([id], [room_code], [room_name], [price], [area], [max_people], [status], [description], [created_at], [updated_at], [deleted_at]) VALUES (2, N'P102', N'Phòng 102 (Tầng 1)', CAST(3000000.00 AS Decimal(10, 2)), 20, 2, N'Trống', N'Vừa trống, mới sơn lại', NULL, NULL, NULL)
INSERT [dbo].[rooms] ([id], [room_code], [room_name], [price], [area], [max_people], [status], [description], [created_at], [updated_at], [deleted_at]) VALUES (3, N'P201', N'Phòng 201 (Tầng 2)', CAST(3500000.00 AS Decimal(10, 2)), 25, 3, N'Đã thuê', N'Có ban công, máy lạnh sẵn', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[services] ON 

INSERT [dbo].[services] ([id], [service_name], [price], [unit], [created_at], [updated_at], [deleted_at]) VALUES (1, N'Điện', CAST(3500.00 AS Decimal(10, 2)), N'kWh', CAST(N'2026-04-06T14:36:22.090' AS DateTime), NULL, NULL)
INSERT [dbo].[services] ([id], [service_name], [price], [unit], [created_at], [updated_at], [deleted_at]) VALUES (2, N'Nước', CAST(15000.00 AS Decimal(10, 2)), N'm3', CAST(N'2026-04-06T14:36:22.090' AS DateTime), NULL, NULL)
INSERT [dbo].[services] ([id], [service_name], [price], [unit], [created_at], [updated_at], [deleted_at]) VALUES (3, N'Rác', CAST(30000.00 AS Decimal(10, 2)), N'Tháng', CAST(N'2026-04-06T14:36:22.090' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[services] OFF
GO
SET IDENTITY_INSERT [dbo].[tenants] ON 

INSERT [dbo].[tenants] ([id], [name], [phone], [cccd], [birthday], [gender], [address], [created_at], [updated_at], [deleted_at]) VALUES (1, N'Nguyễn Minh Tâm', N'0912111222', N'079201009999', CAST(N'2002-04-10' AS Date), N'Nam', N'Đồng Nai', NULL, NULL, NULL)
INSERT [dbo].[tenants] ([id], [name], [phone], [cccd], [birthday], [gender], [address], [created_at], [updated_at], [deleted_at]) VALUES (2, N'Phạm Thu Thảo', N'0988222333', N'079201008888', CAST(N'2003-08-25' AS Date), N'Nữ', N'Bình Dương', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tenants] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [name], [image], [email], [password], [phone], [role], [created_at], [updated_at], [deleted_at]) VALUES (1, N'Quản trị viên', NULL, N'admin@system.com', N'$2y$12$66kUWAOq2VrE5M7TDQC/Gui0hsQpq7S8Js/dh68jczLmd8LRPaHIe', N'0901234567', N'admin', CAST(N'2026-04-06T14:35:54.333' AS DateTime), NULL, NULL)
INSERT [dbo].[users] ([id], [name], [image], [email], [password], [phone], [role], [created_at], [updated_at], [deleted_at]) VALUES (2, N'Nhân viên quản lý', NULL, N'staff@system.com', N'$2y$12$66kUWAOq2VrE5M7TDQC/Gui0hsQpq7S8Js/dh68jczLmd8LRPaHIe', N'0907654321', N'staff', CAST(N'2026-04-06T14:35:54.333' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[bill_details]  WITH NOCHECK ADD  CONSTRAINT [bill_details_ibfk_2] FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([id])
GO
ALTER TABLE [dbo].[bill_details] NOCHECK CONSTRAINT [bill_details_ibfk_2]
GO
ALTER TABLE [dbo].[bill_details]  WITH NOCHECK ADD  CONSTRAINT [fk_bill_details_bill] FOREIGN KEY([bill_id])
REFERENCES [dbo].[bills] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[bill_details] NOCHECK CONSTRAINT [fk_bill_details_bill]
GO
ALTER TABLE [dbo].[bills]  WITH NOCHECK ADD  CONSTRAINT [bills_ibfk_1] FOREIGN KEY([room_id])
REFERENCES [dbo].[rooms] ([id])
GO
ALTER TABLE [dbo].[bills] NOCHECK CONSTRAINT [bills_ibfk_1]
GO
ALTER TABLE [dbo].[contracts]  WITH NOCHECK ADD  CONSTRAINT [FK_contracts_rooms] FOREIGN KEY([room_id])
REFERENCES [dbo].[rooms] ([id])
GO
ALTER TABLE [dbo].[contracts] NOCHECK CONSTRAINT [FK_contracts_rooms]
GO
ALTER TABLE [dbo].[contracts]  WITH NOCHECK ADD  CONSTRAINT [FK_contracts_tenants] FOREIGN KEY([tenant_id])
REFERENCES [dbo].[tenants] ([id])
GO
ALTER TABLE [dbo].[contracts] NOCHECK CONSTRAINT [FK_contracts_tenants]
GO
ALTER TABLE [dbo].[payments]  WITH NOCHECK ADD  CONSTRAINT [payments_ibfk_1] FOREIGN KEY([bill_id])
REFERENCES [dbo].[bills] ([id])
GO
ALTER TABLE [dbo].[payments] NOCHECK CONSTRAINT [payments_ibfk_1]
GO
USE [master]
GO
